<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margie's Magic - Cat vs Dog</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@450;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="hero-background">
        
        <div class="bottom-left-content">
            <div class="brand">
            Image Classification of
            </div>
            
            <h1 class="main-heading">
                Cat Vs Dog<br>
                <span class="outline-text">Predictor</span>
            </h1>
            
            <p class="description">
                Have you ever wondered if an image contains a cat or a dog? Upload it here to find out instantly using our custom AI model!
            </p>
            
            <a href="/predict" class="btn-link">
                <button class="btn-get-started">Get Started</button>
            </a>
        </div>
    </div>

</body>
</html>